<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
  <entry key="urlDB">jdbc:mysql://localhost:3306/made_hospital_recu</entry>
  <entry key="user_name">root</entry>
  <entry key="password">1234</entry>
  <entry key="driver">com.mysql.cj.jdbc.Driver</entry>
  <entry key="pathXML">data/file.xml</entry>
  <entry key="mongoClient">mongodb://localhost:27017</entry>
  <entry key="mongoDB">madegomez_hospital</entry>
  <entry key="patientsCol">patients</entry>
  <entry key="doctorsCol">doctors</entry>
</properties>

