<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key="pathPatients">data/patients.csv</entry>
    <entry key="pathDoctors">data/doctors.csv</entry>
    <entry key="pathMedicalRecords">data/medRecords.xml</entry>
    <entry key="nextIdDoctor">0</entry>
    <entry key="nextIdPatient">0</entry>
    <entry key="nextIdMedRecord">8</entry>
    <entry key="dbUrl">jdbc:mysql://127.0.0.1:3306/hospital</entry>
    <entry key="dbUser">root</entry>
    <entry key="dbPassword">1234</entry>
    <entry key="dbDriver">com.mysql.cj.jdbc.Driver</entry>
</properties>